##### 3D CONFIGURATION EXAMPLE #####
#your code should ignore lines starting with ’#’
#you can assume arguments will always follow this ordering however whitespace may vary
#2D or 3D
3D
#the value for k
.04
#number of timestep to run
200
#width (x-axis) height (y-axis), depth (z-axis) of grid
10,10,5
#default starting temperature for nodes
5
#list of fixed temperature blocks (cubes for 3D)
#can be 0, 1 or more
#assume cubes won’t overlap
#location_x, location_y, location_z, width, height, depth, fixed temperature
1, 1, 1, 1, 1, 1, 200
5, 5, 1, 2, 2, 2, 300